# Gen bigrams list

In [1]:
import pandas as pd

## Download

In [2]:
!wget -q https://www.ngrams.info/coca/n_n.txt -O n_n.txt

In [3]:
!wget -q https://www.ngrams.info/coca/verb_adv.txt -O v_a.txt

## Read

In [4]:
path = r'./n_n.txt'

df_nn = (pd.read_table(path,
                       skiprows=12,
                       header=None, 
                       index_col=0, 
                       names = ['index', 'frequence', 'word1', 'word2'],
                       encoding='utf8')
           .sort_values(by='index'))
print('Shape of dataframe', df_nn.shape)
df_nn.head()

Shape of dataframe (10032, 3)

       frequence    word1        word2
index
1          27934   health         care
2          12256   living         room
3           8266      law  enforcement
4           7787  parking          lot
5           7671   family      members

In [5]:
path = r'./v_a.txt'

df_va = (pd.read_table(path,
                       skiprows=12,
                       header=None, 
                       index_col=0, 
                       names = ['index', 'frequence', 'word1', 'word2'],
                       encoding='utf8')
           .sort_values(by='index'))
print('Shape of dataframe', df_va.shape)
df_va.head()

Shape of dataframe (3010, 3)

       frequence word1 word2
index
1          11217  come  back
2           5203    go  back
3           4840  make    up
4           4617   end    up
5           4588    go   out

## Concatenate

In [6]:
df = pd.concat([df_nn,df_va], axis=0)
df.shape

(13042, 3)

## Filter

In [7]:
df = df[df.frequence >= 100]
df.shape

(10338, 3)

## Check

In [8]:
df = df.sort_values(by='frequence', ascending=False).reset_index(drop=True)

In [9]:
df.head()

   frequence    word1        word2
0      27934   health         care
1      12256   living         room
2      11217     come         back
3       8266      law  enforcement
4       7787  parking          lot

## Save

In [10]:
path = r'./bigram.txt'
df[['word1', 'word2']].to_csv(path, sep=' ', header=False, index=False, encoding='utf-8')

---